@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .firebaseui-idp-google {
  background-color: mediumvioletred !important;
} */

/* .firebaseui-idp-google > .firebaseui-idp-text {
  color: white !important;
} */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: darkblue;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
